<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>

</head>

<body>
  <div class="header">
    <div class="container-lg">
      <!--container-lg可以這樣下嗎?-->
      <div class="header-menu d-flex justify-content-between">
        <h1 class="logo py-4 d-none d-md-block">
          <a href="#">CSS-toturial</a>
        </h1>
        <h1 class="logo-mobile py-4 d-block d-md-none">
          <a href="#">CSS-toturial</a>
        </h1>
        <ul class="list-unstyled d-md-flex lh-1 align-items-center my-0 d-none d-md-block">
          <li class="px-4"><a class="text-white" href="#">首頁</a></li>
          <li class="px-4"><a class="text-white" href="#">課程介紹</a></li>
          <li class="ps-4"><a class="text-white" href="#"><img src="./assets/images/login-correct.svg">登入</a></li>
        </ul>
        <div class="mobile-menu d-block d-md-none d-flex align-items-center ">
          <span class="material-symbols-outlined">
            drag_handle
          </span>
        </div>

      </div>
      <!--header-menu-->
    </div>
  </div>

  <%- contents %>

    <footer class="footer text-white text-center">
      <div class="container">
        Coding Home © 2022 All Rights Reserved
      </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>